/*whole page start*/

body{
	font-family: SimSun;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	user-select: none;
	font-size: 14px;
	background: #efefef;
}

ul{
	list-style-type:none
}

p{
	text-indent:2em;
	margin: 0 0 0px;
	line-height: 25px;
}

input.hidefocus { outline: none; }
input.hidefocus::-moz-focus-inner { border:none; }

.footer{
	text-align: center;
	background: #efefef;
	color: #0073c6;
	font-size: 12px;
	min-height: 100px;
}

.footer_line{
	position:relative;
	margin-left: 10px;
	margin-right: 10px;
	top: 1px;
}

.copy_right_second{
	margin-top: 8px;
}

.copy_right_first{
	margin-top: 17px;
}

.above_footer_line{
	width: 100%;
	height: 1px;
	background: #dddddd;
	margin-top: 0px;
}

.outer_login_middle{
	width: 100%;
	background: white;
}

.top_bar{
	margin-top: 0px;
	width: 100%;
	height: 70px;
	background-image: url(../images/top_back.png);
	color:white;
	border-bottom: 1px solid #dddddd;
}

.com_logo_div{
	width: 70px;
	height: 35px;
	margin-top: 18px;
	margin-left: 10px;
	float:left;
}

.com_name_div{
	float:left;
	font-size: 26px;
	font-family: Arial;
	color:#efefef;
	height: 70px;
	line-height:70px;
	margin-left:10px;
}

.email_input_div{
	float:left;
	height: 70px;
	line-height:70px;
	margin-left: 272px;
}

.pwd_input_div{
	float:left;
	height: 70px;
	margin-left: 15px;
}

.email_input{
	padding-left:10px !important;
	color: #333333;
	font-size: 14px !important;
	width: 168px !important;
	height: 29px !important;
	line-height: 19px !important;
	margin-top: 17px !important;
}

.pwd_input{
	padding-left:10px !important;
	color: #333333;
	font-size: 14px !important;
	width: 168px !important;
	height: 29px !important;
	line-height: 19px !important;
	margin-top: 17px;
}

.login_btn_div{
	width: 80px;
	height: 30px;
	background-image: url(../images/login_btn.png);
	float:left;
	margin-top: 16px;
	margin-left: 15px;
	cursor:pointer;
}

.login_btn_div:hover{
	width: 80px;
	height: 30px;
	background-image: url(../images/login_hover.png);
	float:left;
	margin-top: 16px;
	margin-left: 15px;
	cursor:pointer;
}

.get_pwd{
	position:relative;
	width: 64px;
	font-size: 12px;
	color:#888888;
	margin-left:107px;
	margin-top: -10px;
	cursor:pointer;
	text-decoration: none;
}

.get_pwd:hover{
	position:relative;
	width: 64px;
	font-size: 12px;
	color:#888888;
	margin-left:107px;
	margin-top: -10px;
	cursor:pointer;
	text-decoration: underline;
}

.apply_invcode{
	width:100px;
	position:relative;
	font-size: 12px;
	color:#888888;
	cursor:pointer;
	text-decoration: none;
	margin: 5px 0 0 20px;
}

.apply_invcode:hover{
	width:100px;
	position:relative;
	font-size: 12px;
	color:#888888;
	cursor:pointer;
	text-decoration: underline;
}

.right_apply_invcode {
	display : none;
}

.login_middle{
	height: 600px;
}

.slogan_black{
	font-family: "黑体";
	font-size: 40px;
	color: #000000;
	text-align:center;
	font-weight: bold;
	margin-top: 43px;
	height: 40px;
}

.login_left_div{
	width: 450px;
	margin-left: 10px;
	float:left;
}

.login_right_div{
	width: 370px;
	margin-left: 53px;
	float:left;
}

.login_whole_div{
	width: 100%;
	margin-top: 42px;
}

.outer_hunter_img{
	height: 301px;
}

.under_hunter_img{
	text-align: center;
	font-family: "黑体";
	font-size: 18px;
	color:black;
	margin-top: 23px;
	font-weight: bold;
}

.short_text{
	font-size: 14px;
	color: #888888 !important;
	text-align:center;
	margin-top: 10px;
}

.join_now{
	font-size: 24px;
	font-family: "黑体";
	color:black;
	margin-top: 10px;
	font-weight: bold;
	margin-left: 17px;
}

.join_now_result{
	font-size: 24px;
	font-family: "黑体";
	color:black;
	margin-top: 50px;
	font-weight: bold;
	margin-left: 17px;
}

.regist_info{
	font-size: 16px;
	color: black;
	margin-top: 6px;
	margin-left: 17px;
}

.regist_info_result{
	font-size: 16px;
	color: black;
	margin-top: 10px;
	margin-left: 17px;
}

.name_input{
	width: 333px;
	height: 30px !important;
	border: 1px solid #c1c1c1 !important;
	line-height: 24px !important;
	font-size: 14px !important;
	color: #666666 !important;
	margin-left: 8px;
}

.name_inputt{
	margin-top: 27px;
}

.email_inputt{
	margin-top: 13px;
}

.invitation_input{
	margin-top: 13px;
}

.must_icon{
	width: 7px;
	height: 8px;
	position: relative;
	top: -5px;
}

.agree_info{
	margin-top: 15px;
	font-size: 14px;
	margin-left: 17px;
	color: #888888;
}

.font_dark{
	color:#222222;
}

.apply_btn{
	background-image: url(../images/apply_btn.png);
	width: 349px;
	height: 44px;
	margin-left: 17px;
	margin-top: 12px;
	cursor:pointer;
}

.apply_btn:hover{
	background-image: url(../images/apply_hover.png);
	width: 349px;
	height: 44px;
	margin-left: 17px;
	margin-top: 12px;
	cursor:pointer;
}

.apply_btn:active{
	background-image: url(../images/apply_active.png);
	width: 349px;
	height: 44px;
	margin-left: 17px;
	margin-top: 12px;
	cursor:pointer;
}

.name_alert{
	color: #ca0000;
	margin-left: 27px;
	margin-top: -8px;
	font-size: 14px;
	height: 14px;
}

.alert_hide{
	display: none;
}

.name_icon_hide{
	display: none;
}

#nameVal2{
	border: 1px solid #ca0000 !important;
	display: none;
}

.email_icon_hide{
	display:none;
}

#emailVal2{
	display: none;
	border: 1px solid #ca0000 !important;
}

.pwd_icon_hide{
	display: none;
}

#pwdlVal2{
	display: none;
	border: 1px solid #ca0000 !important;
}

.apply_result{
	display: none;
}

.right_get_pwd{
	display: none;
}

.outer_emailValGet{
	margin-left: 10px;
	margin-top: 25px;
}

.goon_div{
	width: 140px;
	height: 40px;
	background-image: url(../images/goon.png);
	margin-top: 10px;
	margin-left: 19px;
}

.goon_div:hover{
	width: 140px;
	height: 40px;
	background-image: url(../images/goon_hover.png);
	margin-top: 10px;
	margin-left: 19px;
}

#emailValGet2{
	display: none;
	border: 1px solid #ca0000 !important;
}

.alert_hide_emaill{
	display: none;
}

.red_border{
	border: 1px solid #ca0000 !important;
}

.hide{
	display: none;
}

.success_message {
	font-size: 20px;
	font-family: "黑体";
	color:black;
	margin-top: 50px;
	font-weight: bold;
	margin-left: 17px;
}

.fail_message {
	font-size: 20px;
	font-family: "黑体";
	color: red !important;
	margin-top: 50px;
	margin-left: 17px;
	font-weight: bold;
	margin-left: 17px;
	height: 30px !important;
}

.back_signup{
	color:#188888 !important;
	cursor:pointer;
	text-decoration: none;
}
}

.back_signup:hover{
	color:#888888 !important;
	cursor:pointer;
	text-decoration: underline !important;
}

.clear{ clear:both}

.search_input_div{
	float:left;
	height: 70px;
	line-height:78px;
	margin-left: 50px;
}

.search_input{
	padding-left:10px !important;
	margin-top: 19px;
	color: #777777 !important;
	font-size: 14px !important;
	width: 320px !important;
	height: 30px !important;
	line-height: 19px !important;
	border: 1px solid #999999 !important;
}

.search_btn_div{
	width: 70px;
	height: 30px;
	background-image: url(../images/serach_icon.png);
	float:left;
	margin-top: 19px;
	margin-left: 15px;
	cursor:pointer;
}

.user_info_div{
	width: 70px;
	height: 70px;
	float:right;
	cursor:pointer;
	
	text-align:center;
}

.user_info_div:hover{
	background-image: url(../images/top_hover_back.png);
	background-repeat: repeat;

}

.user_icon{
	width: 42px;
	height: 42px;
	position:relative;
	top: 13px;
}

.mes_line_one{
	border-bottom: 1px solid #eeeeee;
	width: 866px;
	height: 42px;
}

.single_resume{
	padding: 10px 20px 10px 20px;
	margin-top: 10px;
	background: white;
	border: 1px solid #dddddd;
}

.mes_date{
	float:right;
	font-size:14px;
	position:relative;
	top:12px;
}

.mes_line_one_account{
	position:relative;
	top: -15px;
	margin-left: 7px;
	font-weight: bold;
	color:#0073c6;
}

.mes_line_one_serial{
	position:relative;
	top: -15px;
	margin-left: 4px;
	font-weight: bold;
	color:#333333;
}

.mes_line_one_type{
	position:relative;
	top: -15px;
	margin-left: 4px;
	font-weight: bold;
	color:#333333;
}

.user_line{
	position:relative;
	top: -13px;
	margin-left: 4px;
}

.mes_line_two{
	width:100%;
	height: auto;
	margin: 8px 8px 8px 0px;
}

.main_middle{
	height: auto;
}

.mes_line_two p{
	text-indent: 0em;
	color:#333333 !important;
}

.start_interview{
	color:#0073c6;
	cursor:pointer;
}

.start_remark{
	color:#0073c6;
	cursor:pointer;
}

.remark_span{
	color:#0073c6;
	margin-left:13px;
	cursor:pointer;
}

.cancel_interview{
	color:#e38600;
	margin-left:13px;
	cursor:pointer;
}

.account_info{
	width:400px;
	height:282px;
	background-image:url(../images/account_div_back.png);
	position:fixed;
	z-index:1000;
	display:none;
	margin-left:560px;
	margin-top:70px;
}

.account_header{
	color:white;
	height: 36px;
	width:100%;
	line-height:36px;
	margin-left:15px;
}

.account_detail{
	background: white;
	width: 390px;
	height:241px;
	margin-left:5px;
}

.account_detail_line{
	width:100%;
	height: 36px;
	line-height:36px;
	border-bottom: 1px solid #dddddd;
}

.account_left{
	color:#333333;
	font-weight: bold;
	margin-left:10px;
	float:left;
	width: 58px;
}

.account_right{
	color:#0073c6;
	float:right;
	width: 62px;
	text-align:left;
	cursor:pointer;
}

.account_right_phone{
	color:#2bb600;
	float:right;
	width: 62px;
	text-align:left;
	cursor:pointer;
}

.account_middle{
	color:#333333;
	float:left;
	text-align:left;
	font-family: Arial !important;
	margin-left:18px;
}

.login_info{
	width:100%;
	height: 20px;
	line-height:20px;
	margin-left:10px;
	margin-top:24px;
}

.logn_info_img{

}

.logn_info_text{
	color: #333333;
	margin-left: 8px;
	position: relative;
	top: -4px;
}

.blank_area{
	width:100%;
	height:10px;
	background:white;
}

.icon_div{
	position:fixed;
	bottom:37px;
	margin-left:854px;
	width:76px;
	height: 258px;
	z-index:1000;
}

.icons_div{
	position:fixed;
	bottom:32px;
	margin-left:854px;
	width:76px;
	z-index:1000;
	display:none;
	height: 258px;
}

.icon_all{
	cursor: pointer;
}

.above_more_icon{
	width: 100%;
	height: 182px;
}

.icon_one{
	margin-top:15px;
	width: 76px;
	height: 76px;
	background-image: url(../images/icon_one.png);
}

.icon_one:hover{
	margin-top:15px;
	width: 76px;
	height: 76px;
	background-image: url(../images/icon_one_hover.png);
}

.icon_two{
	margin-top:10px;
	width: 76px;
	height: 76px;
	background-image: url(../images/icon_two.png);
}

.icon_two:hover{
	margin-top:10px;
	width: 76px;
	height: 76px;
	background-image: url(../images/icon_two_hover.png);
}

.upload_file{
	position:relative;
	width: 76px !important;
	height: 76px !important;
	top: -84px !important;
	font-size: 64px !important;
	opacity:0;
	cursor:pointer !important;
}

.start_interview_div{
	float:left;
}

.remark_div{
	float:left;
	margin-left:20px;
}

.interview_white_trangle{
	width: 20px;
	height: 15px;
	position:relative;
	margin-left:18px;
	
}

.remark_white_trangle{
	width: 20px;
	height: 15px;
	position:relative;
	margin-left:4px;
	
}

.interview_white_trangle_img{
	width: 20px;
	height: 15px;
	display: none;
}

.remark_white_trangle_img{
	width: 20px;
	height: 15px;
	display: none;
}

.mes_line_three{
	height: 19px;
}

#interviewForm {
	width: 100%;
}
#interviewForm label {
	width: 85px;
	float:left;
	color:#333333;
	font-weight: bold;
	cursor: pointer;
}

#feedBackModal {
	height: 550px;
	top: 15%;
}

.start_feedback{
	color:#0073c6;
	cursor:pointer;
}

#feedBackForm label {
	width: 150px;
	float:left;
	color:#333333;
	font-weight: bold;
	cursor: auto;
	font-family: Arial;
	font-size: 20px;
}

.feedback_div {
	margin: 20px 0 0 80px;	
}

#feedBackModalLabel {
	text-align: center;
}

.feedback_result{
	width: 100%;
	height: 47px;
	margin: 20px 0 0 0;
}

#remarkForm {
	width: 100%;
}
#remarkForm label {
	width: 65px;
	float:left;
	color:#333333;
	font-weight: bold;
}

.right_input{
	float: left;
	width: 498px !important;
	position:relative;
	top: -7px;
	height: 23px !important;
	padding-left: 10px !important;
}

.right_input1{
	float: left;
	width: 80px !important;
	position:relative;
	top: -7px;
	height: 23px !important;
	padding-left: 10px !important;
}

.right_input2{
	float: left;
	width: 130px !important;
	position:relative;
	top: -7px;
	height: 23px !important;
	padding-left: 10px !important;
	margin-left: 10px;
}

.right_input3{
	float: left;
	width: 231px !important;
	position:relative;
	top: -7px;
	height: 23px !important;
	padding-left: 10px !important;
	margin-left: 10px;
}

#interviewForm label.error, #interviewForm input.submit {
	margin-left: 15px;
	color:red;
	width: 165px;
	font-weight: normal !important;
}

.must_blue{
	margin-right: 7px;
	position:relative;
	top: -1px;
}

.interview_dialog{
	padding-top: 22px;
	border: 1px solid #dddddd;
	border-top: 0px;
	padding-left: 40px;
	display: none;
}

.remark_dialog{
	padding-top: 22px;
	border: 1px solid #dddddd;
	border-top: 0px;
	padding-left: 40px;
	display: none;
}

.input_line{
	width: 100%;
	height: 47px;
}

.not_must{
	margin-left: 14px;
}

.right_selecter{
	width: 514px;
	height: 32px !important;
	position: relative;
	top: -6px;
}

.backup_textarea{
	width: 498px !important;
	padding-left: 15px !important;
	height: 60px !important;
}

.mes_btn{
	background-image: url(../images/mes_btn.png);
	width: 90px;
	height: 36px;
	margin-left: 200px;
	float:left;
}

.mes_btn:hover{
	background-image: url(../images/mes_btn_hover.png);
	width: 90px;
	height: 36px;
	margin-left: 200px;
	float:left;
}

.cancel_btn{
	background-image: url(../images/cancel.png);
	width: 90px;
	height: 36px;
	margin-left: 20px;
	float:left;
}

.cancel_btn:hover{
	background-image: url(../images/cancel_hover.png);
	width: 90px;
	height: 36px;
	margin-left: 20px;
	float:left;
}

.submit_area{
	margin-top: 42px;
	width: 100%;
}

.remark_submit_area{
	margin-top: 70px;
	width: 100%;
}

.mes_btn_submit{
	opacity: 0 !important;
	width: 90px !important;
	height: 36px !important;
	margin-left: 0px;
}

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

.activity_round {
	height: 26px !important;
	margin: 5px 0 5px 0;
}

#resumeUploadModal {
	height: 400px;
	top: 10%;
}

.upload_message_div {
	margin: 20px 50 0 50px;	
}

.comment {
	width: 50%;
	height: 70px;
}